
#results-container {
    float: left;
    width: 26%;
    padding: 10px;
    border:1px solid black;
    display: flex;
    flex: 50%;

    height: 1500px;
}

#h2 {
  text-align: center;
  color: black;
}

#second-results {
    float: left;
    width:74%;
    padding: 10px;
    border:1px solid black;
    flex: 50%;
    height: 1500px;

} 

#results-highcomments-container{
  overflow-y: auto;
  height: 100px;
}

#results-highgilded-container {
overflow-y: auto;
height: 100px;
}

#results-highscore-container{
overflow-y: auto;
height: 100px;
}

.card {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */

}

#user-select-form {
  text-align: center;
}

#userh1 {
  text-align: center;
}

#loading {
  width: 100%;
  height: 100%;
  top: 20%;
  left: 40%;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}